body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #153448;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
        padding: 10px 20px;
        margin-left: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    button:hover {
        background-color: #0056b3;
    }

    label {
        font-family: Arial, sans-serif;
        display: block;
        margin-bottom: 5px;
    }
    
.Book-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Book-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.Book-container input[type="text"],
.Book-container input[type="number"]
.Book-container input[type="date"]
.Book-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.Book-container select {
    height: 40px;
}


.Book-container input[type="submit"],
.Book-container input[type="button"] {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Book-container input[type="submit"]:hover,
.Book-container input[type="button"]:hover {
    background-color: #0056b3;
}



footer {
    background-color: #153448;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}